.cart {
    padding: 5% 25%;
    background-color: #F8F9FA;

}

.empty-cart-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.black-color {
    color: black;
}

.continue-shopping {
    display: flex;
    flex-direction: row;
}



.continue-shopping div:last-child {
    margin-left: 5%;
}



.signin-shopping-button {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    border-radius: 2em;
    margin: 4px 2px;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 32px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}

.signin-shopping-button:hover {
    background-color: black;
    color: white;
}

.cart-heading {
    margin-bottom: 5%;
}

.cart-item-image-div {
    width: 30%;
    margin-right: 5%;
}

.cart-item-image {
    width: 100%;
    height: auto;
}

.cart-text {
    width: 50%;
}

.cart-text h5 {
    line-height: 22px;
}

.cart-text h5 {}

.cart-para-text {
    margin-top: 15%;
}

.ls-cart-contents {
    display: flex;
    margin-top: 5%;
}

.cart-quantity {
    width: 23%;
}

.cart-quantity div {
    text-align: end;

}

.quantity-btn {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    margin: 4px 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
    border-radius: 0.5em;
}


.quantity-btn:hover {
    background-color: black;
    color: white;
}

.quantity-value {
    padding: 0 10px 0 10px;
    color: black;
}

.cart-item-price {
    margin-top: 44%;
    text-align: end;
}

.remove-btn {
    font-weight: bold;
    background-color: white;
    text-decoration: underline;
    text-align: end;
    width: 100%;
}

.cart h1 {
    font-size: 30px;
    line-height: 55%;
}

.cart h2 {
    font-size: 20px;
}

.continue-shopping div h4 {
    margin: 0.5rem 0;
    font-size: 14px;
    line-height: 16px;

}

.continue-shopping div h6 {
    margin: 0.5rem 0;
    font-size: 12px;
    line-height: 16px;
}

.signin-shopping-button {
    padding: 6px 16px;
    font-size: 10px;
}

@media only screen and (max-width: 1025px){
    .quantity-btn {
        padding: 0.3rem 0.6rem;
        font-size: 11px;
    }

    .quantity-value {
        font-size: 16px;
        padding: 6px 5px;
    }
}

@media only screen and (max-width: 990px) {
    .cart {
        padding: 5rem;
    }

    .cart h1 {
        font-size: 25px;
        line-height: 50%;
    }

    .cart h2 {
        font-size: 15px;
    }

    .continue-shopping div h4 {
        margin: 0.2rem 0;
        font-size: 10px;
        line-height: 14px;

    }

    .continue-shopping div h6 {
        margin: 0.3rem 0;
        font-size: 8px;
        line-height: 10px;
    }

    .signin-shopping-button {
        padding: 4px 10px;
        font-size: 6px;
    }

    .remove-btn {
        font-size: 20px;
        text-align: end;
    }

    .cart-text {
        width: 50%;
    }

    .cart-text h5 {
        line-height: 25px;
    }

    .cart-para-text {
        font-size: 4vw;
    }

    .quantity-btn {
        padding: 0.5rem 1rem;
        font-size: 16px;
    }

    .quantity-value {
        font-size: 18px;
        padding: 8px 7px;
    }

    .cart-item-price {
        font-size: 19px;
        margin-top: 5vw;
    }
}

@media only screen and (max-width: 550px) {
    .currently-empty {
        font-size: 22px;
        line-height: 20px;
    }

    .cart-text h5 {
        font-size: 60%;
        line-height: 10px;
    }

    .cart-item-image-div {
        margin-right: 5%;
    }

    .cart {
        padding: 1rem;
    }

    .cart h1 {
        font-size: 30px;
        line-height: 55%;
    }

    .cart h2 {
        font-size: 20px;
    }

    .continue-shopping div h4 {
        margin: 0.5rem 0;
        font-size: 14px;
        line-height: 16px;

    }

    .continue-shopping div h6 {
        margin: 0.5rem 0;
        font-size: 12px;
        line-height: 16px;
    }

    .signin-shopping-button {
        padding: 6px 16px;
        font-size: 10px;
    }

    .Cart-heading {
        margin-bottom: 5%;
        font-size: 200%;
    }

    .remove-btn {
        font-size: 10px;
        text-align: end;
    }

    .cart-text {
        width: 50%;
    }

    .cart-para-text {
        margin-top: 12%;
        font-size: 4vw;
    }

    .quantity-btn {
        padding: 0.1rem 0.3rem;
        font-size: 8px;
    }

    .quantity-value {
        font-size: 9px;
        padding: 2px 2px;
    }

    .cart-item-price {
        font-size: 9px;
        margin-top: 5vw;
    }
}

@media only screen and (max-width: 360px) {
    .continue-shopping div h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 281px) {
    .continue-shopping div h4 {
        font-size: 10px;

    }

    .signin-shopping-button {
        padding: 4px 10px;
        font-size: 6px;
    }

    .quantity-btn {
        padding: 2px 4px;
        font-size: 5px;
    }

    .quantity-value {
        font-size: 7px;
        padding: 1px 1px;
    }
}