.discount {
    background-color: #ddc9a3;
    font-weight: bold;
    padding: 10px;
    text-align: center;

}

.black-color {
    color: black;
    text-decoration: none;
}

.bc-logo {
    height: 120px;
    width: 100%;
}


.main-nav {
    display: flex;
    display: grid;
    grid-template-columns: 15% 35% 10% 20% 10% 10%;
}

.search-bar {
    padding: 42px 0px 0px 0px;
    margin-left: 2%;

}

.search-box {
    background-color: black;
    border-radius: 2em;
    width: 90%;
    color: white;
    height: 30px;
    font-size: medium;
    border: none;
    padding-left: 8%;

}

.ui-search-input {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    height: 40px;
    width: 30%;
    font-size: medium;
    border: none;
    padding-left: .5%;
    border-radius: 0.5em;
    border: 3px solid black;
}



.search-bar ::placeholder {
    color: white;
    font-size: medium;
    font-weight: bolder;
}

.ui-search-input::placeholder {
    color: gray;
    font-size: medium;
    font-weight: bolder;
}

.search-icon {
    color: white;
    font-size: 17px;
    margin-top: 5px;
    padding-left: 7px;
    cursor: pointer;

}



.input-icons i {
    position: absolute;
    margin-top: 4px;
}

.ui-search-box {
    margin-left: 2%;
    margin-top: 1%;
}

.ui-search-box i {
    position: relative;
}





.icon-btn {
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;

}

.cart-icon {
    margin-left: 40px;
}

hr {
    border-top: 1px solid rgba(7, 7, 7, 0.469);
}

.category-div {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.categories {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
}

.categories-red {
    color: red;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
}

.section-top {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px 0 20px 0;
    font-weight: bold;
}

.yakima-text {
    margin-left: 120px;

}

.text {
    margin-top: 10px;
}

.add-cart-button {
    color: gray;
    background-color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: underline;
}



@media(max-width: 320px) {

    .main-nav {
        display: flex;
        /* margin-left: 120px; */
        /* margin-right: 120px; */
        display: grid;
        grid-template-columns: 100%;
    }

    .cart-icon {
        margin-left: 0px;
    }

    .yakima-text {
        margin-left: 12px;

    }

    .text {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 420px) {

    .main-nav {
        display: flex;
        display: grid;
        grid-template-columns: 100%;

    }

    .cart-icon {
        margin-left: 0px;
    }

    .categories {
        margin-left: 2%;
        font-size: 2%;
    }

    .categories-red {
        margin-left: 10px;
        font-size: 2%;
    }

    .category-div {
        margin: 10px 5px 15px 0;
    }

    .yakima-text {
        margin-left: 12px;

    }

    .text {
        margin-top: 10px;
    }

}

@media only screen and (min-width: 539px) and (max-width:541px) {

    .main-nav {
        display: flex;
        /* margin-left: 120px; */
        /* margin-right: 120px; */
        display: grid;
        grid-template-columns: 100%;

    }

    .categories {
        margin-left: 2%;
        font-size: 2%;
    }

    .categories-red {
        margin-left: 10px;
        font-size: 2%;
    }

    .category-div {
        margin: 10px 5px 15px 0;
    }

    .yakima-text {
        margin-left: 12px;

    }

    .text {
        margin-top: 10px;
    }

}

@media only screen and (min-width: 750px) and (max-width:821px) {
    .categories {
        margin-left: 2%;
        font-size: 90%;
    }

    .categories-red {
        margin-left: 10px;
        font-size: 90%;
    }

    .category-div {
        margin: 20px 10px 20px 0;
    }

    .yakima-text {
        margin-left: 12px;

    }

    .text {
        margin-top: 10px;
    }
}